
[Unit]
Description=Run finance-backup.service every night

[Timer]
User=finance-svc
Group=finance
OnCalendar=*-*-* 23:59:59 America/Bogota
Persistent=true

[Install]
WantedBy=timers.target
